{% extends "base.html" %}
    {% block title %}Сведения о банке {{ Bank.name }}{% endblock %}
{% block content %}
    <h1 style ="text-align: center">Сведения о банке {{ Bank.name }}</h1>
    <p>Название: {{ Bank.name }}</p>
    <p>БИК: {{ Bank.bik }}</p>
    <p>Город: {{ Bank.city }}</p>
    <p>Счет: {{ Bank.account }}</p>
    <p>Дата создания записи: {{ Bank.created_at|date:'d.m.Y H:i:s' }}</p>
    <p>Дата обновления записи: {{ Bank.update_at|date:'d.m.Y H:i:s' }}</p>
    <form method="post">
        {% csrf_token%}
        <a href="banks/{{ Bank.id }}/reviews/"><input type="submit" class = "btn btn-primary" value="Оставить отзыв"></a>
    </form>
    <h2 style = "text-align: center">Отзывы</h2>
    <div class = "container">
    {% for views in Bank.review_set.all %}
        <ul class = "list-group">
            <h5>{{ views.username }}</h5>
            <li class = "list-group-item">{{ views.review }}</li>
            <p></p>
        </ul>
    {% endfor %}
    </div>
{% endblock %}