{% extends "base.html" %}
    {% block title %}{{ title }}{% endblock %}
{% block content %}
    <h1 style="text-align: center">Банки</h1>
    <table class = "table table-bordered  ">
        <tr class = "table-active" style="text-align: center">
            <th scope = "col" style="text-align: center">Название</th>
            <th scope = "col" style="text-align: center">БИК</th>
            <th scope= "col" style="text-align: center"></th>
            <th scope= "col" style="text-align: center"></th>
        </tr>
        {% for bank in object_list %}
            <tr>
                <th scope="row" style="text-align: center"><a href="{% url 'bank' bank.id %}">{{ bank.name }}</a></th>
                <th style="text-align: center">{{ bank.bik }}</th>
                <th style="text-align: center"><a href="{% url 'update' bank.id %}">Редактировать</a></th>
                <th style="text-align: center"><a href="{% url 'delete' bank.id %}">Удалить</a></th>
            </tr>
            {% empty %}
        {% endfor %}
    </table>
    <nav aria-label="Page navigation example col-md-4">
        <ul class = "pagination">
            {% for p in paginator.page_range %}
                {% if p > 40 %}
                        <br>
                        <li class = "page-item">
                            <a href="?page={{ p }}" class = "page-link">{{ p }}</a>
                        </li>
                    {% endif %}
                <li class = "page-item">
                    <a href="?page={{ p }}" class = "page-link">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <p><a href="{% url 'adding banks' %}" class = "btn btn-primary">Добавить банк</a></p>
{% endblock %}